const lcd_primitive experimentalfont[]=
{
	experimentalfont_addr + 0,
	experimentalfont_addr + 22,
	experimentalfont_addr + 44,
	experimentalfont_addr + 66,
	experimentalfont_addr + 88,
	experimentalfont_addr + 110,
	experimentalfont_addr + 132,
	experimentalfont_addr + 154,
	experimentalfont_addr + 176,
	experimentalfont_addr + 198,
	experimentalfont_addr + 220,
	experimentalfont_addr + 242,
	experimentalfont_addr + 264,
	experimentalfont_addr + 286,
	experimentalfont_addr + 308,
	experimentalfont_addr + 330,
	experimentalfont_addr + 352,
	experimentalfont_addr + 374,
	experimentalfont_addr + 396,
	experimentalfont_addr + 418,
	experimentalfont_addr + 440,
	experimentalfont_addr + 462,
	experimentalfont_addr + 484,
	experimentalfont_addr + 506,
	experimentalfont_addr + 528,
	experimentalfont_addr + 550,
	experimentalfont_addr + 572,
	experimentalfont_addr + 594,
	experimentalfont_addr + 616,
	experimentalfont_addr + 638,
	experimentalfont_addr + 660,
	experimentalfont_addr + 682,
	experimentalfont_addr + 704,
	experimentalfont_addr + 726,
	experimentalfont_addr + 748,
	experimentalfont_addr + 770,
	experimentalfont_addr + 792,
	experimentalfont_addr + 814,
	experimentalfont_addr + 836,
	experimentalfont_addr + 858,
	experimentalfont_addr + 880,
	experimentalfont_addr + 902,
	experimentalfont_addr + 924,
	experimentalfont_addr + 946,
	experimentalfont_addr + 968,
	experimentalfont_addr + 990,
	experimentalfont_addr + 1012,
	experimentalfont_addr + 1034,
	experimentalfont_addr + 1056,
	experimentalfont_addr + 1078,
	experimentalfont_addr + 1100,
	experimentalfont_addr + 1122,
	experimentalfont_addr + 1144,
	experimentalfont_addr + 1166,
	experimentalfont_addr + 1188,
	experimentalfont_addr + 1210,
	experimentalfont_addr + 1232,
	experimentalfont_addr + 1254,
	experimentalfont_addr + 1276,
	experimentalfont_addr + 1298,
	experimentalfont_addr + 1320,
	experimentalfont_addr + 1342,
	experimentalfont_addr + 1364,
	experimentalfont_addr + 1386,
	experimentalfont_addr + 1408,
	experimentalfont_addr + 1430,
	experimentalfont_addr + 1452,
	experimentalfont_addr + 1474,
	experimentalfont_addr + 1496,
	experimentalfont_addr + 1518,
	experimentalfont_addr + 1540,
	experimentalfont_addr + 1562,
	experimentalfont_addr + 1584,
	experimentalfont_addr + 1606,
	experimentalfont_addr + 1628,
	experimentalfont_addr + 1650,
	experimentalfont_addr + 1672,
	experimentalfont_addr + 1694,
	experimentalfont_addr + 1716,
	experimentalfont_addr + 1738,
	experimentalfont_addr + 1760,
	experimentalfont_addr + 1782,
	experimentalfont_addr + 1804,
	experimentalfont_addr + 1826,
	experimentalfont_addr + 1848,
	experimentalfont_addr + 1870,
	experimentalfont_addr + 1892,
	experimentalfont_addr + 1914,
	experimentalfont_addr + 1936,
	experimentalfont_addr + 1958,
	experimentalfont_addr + 1980,
	experimentalfont_addr + 2002,
	experimentalfont_addr + 2024,
	experimentalfont_addr + 2046,
	experimentalfont_addr + 2068,
};